* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
  font-size: 2 em;
}

body {
  background-image: url("./media/hong-kong-1990268_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
}

button {
  width: 8rem;
  height: auto;
  left: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: #07db42;
  cursor: pointer;
}

button:hover {
  background-color: #078f26;
}

label {
  font-size: 1.2em;
}

input {
  border-radius: 5px;
  text-align: center;
  height: 3rem;
  width: 50%;
  min-width: 40%;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: center;
}

form {
  width: auto;
  color: white;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  font-size: 2.5em;
}

h1 {
  background: #0685cf;
  background: -webkit-linear-gradient(to right, #0685cf 0%, #cf11c9 71%);
  background: -moz-linear-gradient(to right, #0685cf 0%, #cf11c9 71%);
  background: linear-gradient(to right, #0685cf 0%, #cf11c9 71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
}

p {
  background: #e6e6e6;
  background: -webkit-linear-gradient(to right, #e6e6e6 0%, #bcbfcf 100%);
  background: -moz-linear-gradient(to right, #e6e6e6 0%, #bcbfcf 100%);
  background: linear-gradient(to right, #e6e6e6 0%, #bcbfcf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
  font-size: 1.5rem;
}

/* ---GRID--- */
.main {
  display: grid;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 0 20%;
  /* grid-template-columns: [input] 20vw [gas] 15vw [electricity]15vw; */
  grid-template-columns: [input] 1fr [gas] 1fr [electricity]1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 25px;
  padding-top: 20px;
}

.formBox {
  grid-area: 2 / 1 / 4 / 2;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.formBox2 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.formStuff {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.enter {
  grid-area: 4 / 1 / 5 / 2;
  margin-top: 20px;
}
.gallonsUsedBox {
  grid-area: 1 / 2 / 2 / 3;
}
.costOfGasTripBox {
  grid-area: 2 / 2 / 3 / 3;
}
.kwUsedBox {
  grid-area: 1 / 3 / 2 / 4;
}
.costOfElecTripBox {
  grid-area: 2 / 3 /3 / 4;
}

/* .littleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  background-color: #262626;
  opacity: 0.9;
  font-size: 1.5rem;
  border: solid black 2px;
  border-radius: 5px;
  padding: 0.5rem;
  -webkit-backdrop-filter: grayscale(100%);
  backdrop-filter: grayscale(100%);
} */

.littleBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  color: #ffffff;
  background-color: #262626;
  opacity: 0.9;
  font-size: 1.5rem;
  border: solid black 2px;
  border-radius: 5px;
  padding: 0.5rem;
  -webkit-backdrop-filter: grayscale(100%);
  backdrop-filter: grayscale(100%);
}

.littleBoxTitle {
  grid-area: 2/1/3/3;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.results {
  grid-area: 1/1/2/2;
  font-size: 3.5rem;
  /* width: 100%; */
}

.icon {
  /* grid-area: 1/2/2/3;
  display: flex; */
  width: auto;
  /* height: 100%; */
  justify-content: right;
  align-items: flex-end;
}

.iconBox {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.moneySavedBox {
  grid-area: 3 / 2 / 4 / 4;
  display: grid;
  justify-content: center;
  width: 100%;
  color: #ffffff;
  background-color: #262626;
  opacity: 0.9;
  font-size: 1.5rem;
  border: solid black 2px;
  border-radius: 5px;
  padding: 0.5rem;
  -webkit-backdrop-filter: grayscale(100%);
  backdrop-filter: grayscale(100%);
}

.moneySavedTitle {
  display: flex;
  justify-content: center;
}

.buttonBox {
  grid-area: 4 / 1 /5 / 2;
}

@media only screen and (max-width: 980px) {
  .main {
    margin: 0 20px;
    grid-template-columns: [input] 1fr [gas] 1fr [electricity]1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 690px) {
  * {
    margin: 20px 0;
  }
  .main {
    display: block;
  }
}

@media only screen and (max-width: 375px) {
  header {
    font-size: 1.5em;
  }
}
